<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="hero section">
            <div class="container">
                <div class="hero__container wrapper">
                    <h1 class="hero__title title">Tell and read posts</h1>
                    <div class="hero__desc desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae est sed nemo iste eos, ad dolores veniam quasi sint assumenda impedit deserunt sunt perferendis obcaecati placeat, quo ducimus ratione debitis error quas. Dolorum impedit dicta, quos vel nulla veniam molestiae?</div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>